SECRET_KEY=
DEBUG=
DB_ENGINE=
DB_NAME=
LANGUAGE_CODE=
TIME_ZONE=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
MAX_ITEMS_IN_PAGE=
MAX_PAGINATION_BUTTON_RANGE=

# SEO Configuration
SEO_SITE_NAME=KodeShop
SEO_SITE_DESCRIPTION=فروشگاه آنلاین ابزار و تجهیزات کشاورزی
SEO_TWITTER_HANDLE=@kodeshop