<!--  ==========  -->
<!--  = Slider Revolution =  -->
<!--  ==========  -->
<app-slider></app-slider>
<!-- /slider revolution -->

<!--  ==========  -->
<!--  = Main container =  -->
<!--  ==========  -->
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="push-up over-slider blocks-spacer">
        <!--  ==========  -->
        <!--  = Three Banners =  -->
        <!--  ==========  -->
        <div class="row">
          <div class="span4">
            <a href="#" class="btn btn-block banner">
              <span class="title"
                ><span class="light">فروش</span> تابستانی</span
              >
              <em>تا 60% تخفیف روی کفش ها</em>
            </a>
          </div>
          <div class="span4">
            <a href="#" class="btn btn-block colored banner">
              <span class="title"><span class="light">ارسال</span> رایگان</span>
              <em>برای خرید های بیش از 69000 تومان</em>
            </a>
          </div>
          <div class="span4">
            <a href="#" class="btn btn-block banner">
              <span class="title"><span class="light">محصولات</span> جدید</span>
              <em>از محصولات جدید دیدن کنید.</em>
            </a>
          </div>
        </div>
        <!-- /three banners -->
      </div>
    </div>
  </div>

  <!--  ==========  -->
  <!--  = Featured Items =  -->
  <!--  ==========  -->
  <div class="row featured-items blocks-spacer">
    <div class="span12">
      <!--  ==========  -->
      <!--  = Title =  -->
      <!--  ==========  -->
      <div class="main-titles lined">
        <h2 class="title"><span class="light">مصحولات</span> ویژه</h2>
        <div class="arrows">
          <a href="#" class="icon-chevron-right" id="featuredItemsRight"></a>
          <a href="#" class="icon-chevron-left" id="featuredItemsLeft"></a>
        </div>
      </div>
    </div>

    <div class="span12">
      <!--  ==========  -->
      <!--  = Carousel =  -->
      <!--  ==========  -->
      <div class="carouFredSel" data-autoplay="false" data-nav="featuredItems">
        <div class="slide">
          <div class="row">
            <!--  ==========  -->
            <!--  = Product =  -->
            <!--  ==========  -->
            <div class="span4">
              <div class="product">
                <div class="product-img featured">
                  <div class="picture">
                    <img
                      src="/assets/images/dummy/featured-products/featured-1.png"
                      alt=""
                      width="518"
                      height="358"
                    />
                    <div class="img-overlay">
                      <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                      <a href="#" class="btn buy btn-danger">خرید</a>
                    </div>
                  </div>
                </div>
                <div class="main-titles">
                  <h4 class="title">$78</h4>
                  <h5 class="no-margin">محصول ویژه 483</h5>
                </div>
                <p class="desc">
                  توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
                </p>
                <p class="center-align stars">
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                </p>
              </div>
            </div>
            <!-- /product -->

            <!--  ==========  -->
            <!--  = Product =  -->
            <!--  ==========  -->
            <div class="span4">
              <div class="product">
                <div class="product-img featured">
                  <div class="picture">
                    <img
                      src="/assets/images/dummy/featured-products/featured-2.png"
                      alt=""
                      width="518"
                      height="358"
                    />
                    <div class="img-overlay">
                      <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                      <a href="#" class="btn buy btn-danger">خرید</a>
                    </div>
                  </div>
                </div>
                <div class="main-titles">
                  <h4 class="title">$56</h4>
                  <h5 class="no-margin">محصول ویژه 452</h5>
                </div>
                <p class="desc">
                  توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
                </p>
                <p class="center-align stars">
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star"></span>
                </p>
              </div>
            </div>
            <!-- /product -->

            <!--  ==========  -->
            <!--  = Product =  -->
            <!--  ==========  -->
            <div class="span4">
              <div class="product">
                <div class="product-img featured">
                  <div class="picture">
                    <img
                      src="/assets/images/dummy/featured-products/featured-3.png"
                      alt=""
                      width="518"
                      height="358"
                    />
                    <div class="img-overlay">
                      <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                      <a href="#" class="btn buy btn-danger">خرید</a>
                    </div>
                  </div>
                </div>
                <div class="main-titles">
                  <h4 class="title">$54</h4>
                  <h5 class="no-margin">محصول ویژه 520</h5>
                </div>
                <p class="desc">
                  توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
                </p>
                <p class="center-align stars">
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                </p>
              </div>
            </div>
            <!-- /product -->
          </div>
        </div>
        <div class="slide">
          <div class="row">
            <!--  ==========  -->
            <!--  = Product =  -->
            <!--  ==========  -->
            <div class="span4">
              <div class="product">
                <div class="product-img featured">
                  <div class="picture">
                    <img
                      src="/assets/images/dummy/featured-products/featured-1.png"
                      alt=""
                      width="518"
                      height="358"
                    />
                    <div class="img-overlay">
                      <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                      <a href="#" class="btn buy btn-danger">خرید</a>
                    </div>
                  </div>
                </div>
                <div class="main-titles">
                  <h4 class="title">$108</h4>
                  <h5 class="no-margin">محصول ویژه 577</h5>
                </div>
                <p class="desc">
                  توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
                </p>
                <p class="center-align stars">
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star stars-clr"></span>
                </p>
              </div>
            </div>
            <!-- /product -->

            <!--  ==========  -->
            <!--  = Product =  -->
            <!--  ==========  -->
            <div class="span4">
              <div class="product">
                <div class="product-img featured">
                  <div class="picture">
                    <img
                      src="/assets/images/dummy/featured-products/featured-2.png"
                      alt=""
                      width="518"
                      height="358"
                    />
                    <div class="img-overlay">
                      <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                      <a href="#" class="btn buy btn-danger">خرید</a>
                    </div>
                  </div>
                </div>
                <div class="main-titles">
                  <h4 class="title">$29</h4>
                  <h5 class="no-margin">محصول ویژه 332</h5>
                </div>
                <p class="desc">
                  توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
                </p>
                <p class="center-align stars">
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star"></span>
                </p>
              </div>
            </div>
            <!-- /product -->

            <!--  ==========  -->
            <!--  = Product =  -->
            <!--  ==========  -->
            <div class="span4">
              <div class="product">
                <div class="product-img featured">
                  <div class="picture">
                    <img
                      src="/assets/images/dummy/featured-products/featured-3.png"
                      alt=""
                      width="518"
                      height="358"
                    />
                    <div class="img-overlay">
                      <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                      <a href="#" class="btn buy btn-danger">خرید</a>
                    </div>
                  </div>
                </div>
                <div class="main-titles">
                  <h4 class="title">$46</h4>
                  <h5 class="no-margin">محصول ویژه 519</h5>
                </div>
                <p class="desc">
                  توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
                </p>
                <p class="center-align stars">
                  <span class="icon-star stars-clr"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                </p>
              </div>
            </div>
            <!-- /product -->
          </div>
        </div>
      </div>
      <!-- /carousel -->
    </div>
  </div>
</div>
<!-- /container -->

<!--  ==========  -->
<!--  = New Products =  -->
<!--  ==========  -->
<div class="boxed-area blocks-spacer">
  <div class="container">
    <!--  ==========  -->
    <!--  = Title =  -->
    <!--  ==========  -->
    <div class="row">
      <div class="span12">
        <div class="main-titles lined">
          <h2 class="title"><span class="light">محصولات</span> جدید فروشگاه</h2>
        </div>
      </div>
    </div>
    <!-- /title -->

    <div class="row popup-products blocks-spacer">
      <!--  ==========  -->
      <!--  = Product =  -->
      <!--  ==========  -->
      <div class="span3">
        <div class="product">
          <div class="product-img">
            <div class="picture">
              <img
                src="/assets/images/dummy/products/product-6.jpg"
                alt=""
                width="540"
                height="374"
              />
              <div class="img-overlay">
                <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
              </div>
            </div>
          </div>
          <div class="main-titles no-margin">
            <h4 class="title">$32</h4>
            <h5 class="no-margin">محصول ویژه 498</h5>
          </div>
          <p class="desc">
            توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
          </p>
          <p class="center-align stars">
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
          </p>
        </div>
      </div>
      <!-- /product -->

      <!--  ==========  -->
      <!--  = Product =  -->
      <!--  ==========  -->
      <div class="span3">
        <div class="product">
          <div class="product-img">
            <div class="picture">
              <img
                src="/assets/images/dummy/products/product-7.jpg"
                alt=""
                width="540"
                height="374"
              />
              <div class="img-overlay">
                <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
              </div>
            </div>
          </div>
          <div class="main-titles no-margin">
            <h4 class="title">$32</h4>
            <h5 class="no-margin">محصول ویژه 318</h5>
          </div>
          <p class="desc">
            توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
          </p>
          <p class="center-align stars">
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
          </p>
        </div>
      </div>
      <!-- /product -->

      <!--  ==========  -->
      <!--  = Product =  -->
      <!--  ==========  -->
      <div class="span3">
        <div class="product">
          <div class="product-img">
            <div class="picture">
              <img
                src="/assets/images/dummy/products/product-8.jpg"
                alt=""
                width="540"
                height="374"
              />
              <div class="img-overlay">
                <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
              </div>
            </div>
          </div>
          <div class="main-titles no-margin">
            <h4 class="title">$32</h4>
            <h5 class="no-margin">محصول ویژه 462</h5>
          </div>
          <p class="desc">
            توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
          </p>
          <p class="center-align stars">
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
          </p>
        </div>
      </div>
      <!-- /product -->

      <!--  ==========  -->
      <!--  = Product =  -->
      <!--  ==========  -->
      <div class="span3">
        <div class="product">
          <div class="product-img">
            <div class="picture">
              <img
                src="/assets/images/dummy/products/product-9.jpg"
                alt=""
                width="540"
                height="374"
              />
              <div class="img-overlay">
                <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
              </div>
            </div>
          </div>
          <div class="main-titles no-margin">
            <h4 class="title">$32</h4>
            <h5 class="no-margin">محصول ویژه 199</h5>
          </div>
          <p class="desc">
            توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
          </p>
          <p class="center-align stars">
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star"></span>
          </p>
        </div>
      </div>
      <!-- /product -->

      <div class="clearfix"></div>

      <!--  ==========  -->
      <!--  = Product =  -->
      <!--  ==========  -->
      <div class="span3">
        <div class="product">
          <div class="product-img">
            <div class="picture">
              <img
                src="/assets/images/dummy/products/product-10.jpg"
                alt=""
                width="540"
                height="374"
              />
              <div class="img-overlay">
                <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
              </div>
            </div>
          </div>
          <div class="main-titles no-margin">
            <h4 class="title">$32</h4>
            <h5 class="no-margin">محصول ویژه 287</h5>
          </div>
          <p class="desc">
            توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
          </p>
          <p class="center-align stars">
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star"></span>
          </p>
        </div>
      </div>
      <!-- /product -->

      <!--  ==========  -->
      <!--  = Product =  -->
      <!--  ==========  -->
      <div class="span3">
        <div class="product">
          <div class="product-img">
            <div class="picture">
              <img
                src="/assets/images/dummy/products/product-11.jpg"
                alt=""
                width="540"
                height="374"
              />
              <div class="img-overlay">
                <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
              </div>
            </div>
          </div>
          <div class="main-titles no-margin">
            <h4 class="title">$32</h4>
            <h5 class="no-margin">محصول ویژه 135</h5>
          </div>
          <p class="desc">
            توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
          </p>
          <p class="center-align stars">
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
          </p>
        </div>
      </div>
      <!-- /product -->

      <!--  ==========  -->
      <!--  = Product =  -->
      <!--  ==========  -->
      <div class="span3">
        <div class="product">
          <div class="product-img">
            <div class="picture">
              <img
                src="/assets/images/dummy/products/product-12.jpg"
                alt=""
                width="540"
                height="374"
              />
              <div class="img-overlay">
                <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
              </div>
            </div>
          </div>
          <div class="main-titles no-margin">
            <h4 class="title">$32</h4>
            <h5 class="no-margin">محصول ویژه 385</h5>
          </div>
          <p class="desc">
            توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
          </p>
          <p class="center-align stars">
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star"></span>
          </p>
        </div>
      </div>
      <!-- /product -->

      <!--  ==========  -->
      <!--  = Product =  -->
      <!--  ==========  -->
      <div class="span3">
        <div class="product">
          <div class="product-img">
            <div class="picture">
              <img
                src="/assets/images/dummy/products/product-13.jpg"
                alt=""
                width="540"
                height="374"
              />
              <div class="img-overlay">
                <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
              </div>
            </div>
          </div>
          <div class="main-titles no-margin">
            <h4 class="title">$32</h4>
            <h5 class="no-margin">محصول ویژه 415</h5>
          </div>
          <p class="desc">
            توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
          </p>
          <p class="center-align stars">
            <span class="icon-star stars-clr"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
          </p>
        </div>
      </div>
      <!-- /product -->
    </div>
  </div>
</div>
<!-- /new products -->

<!--  ==========  -->
<!--  = Most Popular products =  -->
<!--  ==========  -->
<div class="most-popular blocks-spacer">
  <div class="container">
    <!--  ==========  -->
    <!--  = Title =  -->
    <!--  ==========  -->
    <div class="row">
      <div class="span12">
        <div class="main-titles lined">
          <h2 class="title">
            <span class="light">محبوبترین</span>محصولات فروشگاه
          </h2>
        </div>
      </div>
    </div>
    <!-- /title -->

    <div class="row popup-products">
      <!--  ==========  -->
      <!--  = Product =  -->
      <!--  ==========  -->
      <div class="span3">
        <div class="product">
          <div class="product-img">
            <div class="picture">
              <img
                src="/assets/images/dummy/most-popular-products/popular-1.jpg"
                alt=""
                width="540"
                height="412"
              />
              <div class="img-overlay">
                <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
              </div>
            </div>
          </div>
          <div class="main-titles no-margin">
            <h4 class="title">$32</h4>
            <h5 class="no-margin">محصول ویژه 263</h5>
          </div>
          <p class="desc">
            توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
          </p>
          <p class="center-align stars">
            <span class="icon-star stars-clr"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
          </p>
        </div>
      </div>
      <!-- /product -->

      <!--  ==========  -->
      <!--  = Product =  -->
      <!--  ==========  -->
      <div class="span3">
        <div class="product">
          <div class="product-img">
            <div class="picture">
              <img
                src="/assets/images/dummy/most-popular-products/popular-2.jpg"
                alt=""
                width="540"
                height="412"
              />
              <div class="img-overlay">
                <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
              </div>
            </div>
          </div>
          <div class="main-titles no-margin">
            <h4 class="title">$32</h4>
            <h5 class="no-margin">محصول ویژه 317</h5>
          </div>
          <p class="desc">
            توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
          </p>
          <p class="center-align stars">
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
          </p>
        </div>
      </div>
      <!-- /product -->

      <!--  ==========  -->
      <!--  = Product =  -->
      <!--  ==========  -->
      <div class="span3">
        <div class="product">
          <div class="product-img">
            <div class="picture">
              <img
                src="/assets/images/dummy/most-popular-products/popular-3.jpg"
                alt=""
                width="540"
                height="412"
              />
              <div class="img-overlay">
                <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
              </div>
            </div>
          </div>
          <div class="main-titles no-margin">
            <h4 class="title">$32</h4>
            <h5 class="no-margin">محصول ویژه 229</h5>
          </div>
          <p class="desc">
            توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
          </p>
          <p class="center-align stars">
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star stars-clr"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
          </p>
        </div>
      </div>
      <!-- /product -->

      <!--  ==========  -->
      <!--  = Product =  -->
      <!--  ==========  -->
      <div class="span3">
        <div class="product">
          <div class="product-img">
            <div class="picture">
              <img
                src="/assets/images/dummy/most-popular-products/popular-4.jpg"
                alt=""
                width="540"
                height="412"
              />
              <div class="img-overlay">
                <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
              </div>
            </div>
          </div>
          <div class="main-titles no-margin">
            <h4 class="title">$32</h4>
            <h5 class="no-margin">محصول ویژه 415</h5>
          </div>
          <p class="desc">
            توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید
          </p>
          <p class="center-align stars">
            <span class="icon-star stars-clr"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
          </p>
        </div>
      </div>
      <!-- /product -->
    </div>
  </div>
</div>
<!-- /most popular -->

<app-logos></app-logos>
