<!--  ==========  -->
<!--  = Header =  -->
<!--  ==========  -->
<header id="header">
  <div class="container">
    <div class="row">
      <!--  ==========  -->
      <!--  = Logo =  -->
      <!--  ==========  -->
      <div class="span7">
        <a class="brand" href="/">
          <img
            src="/assets/images/logo.png"
            alt="Webmarket Logo"
            width="48"
            height="48"
          />
          <span class="pacifico">Webmarket</span>
          <span class="tagline">قالب فروشگاهی HTML قدرتمند</span>
        </a>
      </div>

      <!--  ==========  -->
      <!--  = Social Icons =  -->
      <!--  ==========  -->
      <div class="span5">
        <div class="topmost-line">
          <div class="lang-currency">
            <div class="dropdown js-selectable-dropdown">
              <a data-toggle="dropdown" class="selected" href="#"
                ><span class="js-change-text"
                  ><i class="famfamfam-flag-gb"></i> انگلیسی (EN)</span
                >
                <b class="caret"></b
              ></a>
              <!-- for all available country flags look the styles in lib/components/_flags.scss -->
              <ul
                class="dropdown-menu js-possibilities"
                role="menu"
                aria-labelledby="dLabel"
              >
                <li>
                  <a href="#"><i class="famfamfam-flag-gb"></i> انگلیسی (EN)</a>
                </li>
                <li>
                  <a href="#"
                    ><i class="famfamfam-flag-si"></i> اسلوانیایی (SI)</a
                  >
                </li>
                <li>
                  <a href="#"><i class="famfamfam-flag-de"></i> آلمانی (DE)</a>
                </li>
                <li>
                  <a href="#"><i class="famfamfam-flag-fr"></i> فرانسوی (FR)</a>
                </li>
                <li>
                  <a href="#"
                    ><i class="famfamfam-flag-es"></i> اسپانیولی (ES)</a
                  >
                </li>
              </ul>
            </div>
            <div class="dropdown js-selectable-dropdown">
              <a data-toggle="dropdown" class="selected" href="#"
                ><span class="js-change-text">USD ($)</span>
                <b class="caret"></b
              ></a>
              <ul
                class="dropdown-menu js-possibilities"
                role="menu"
                aria-labelledby="dLabel"
              >
                <li><a href="#">USD ($)</a></li>
                <li><a href="#">EUR (€)</a></li>
                <li><a href="#">YEN (¥)</a></li>
                <li><a href="#">GBP (£)</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="top-right">
          <div class="icons">
            <a href="http://www.facebook.com/ProteusNet"
              ><span class="zocial-facebook"></span
            ></a>
            <a href="skype:primozcigler?call"
              ><span class="zocial-skype"></span
            ></a>
            <a href="https://twitter.com/proteusnetcom"
              ><span class="zocial-twitter"></span
            ></a>
            <a href="http://eepurl.com/xFPYD"
              ><span class="zocial-rss"></span
            ></a>
            <a href="#"><span class="zocial-wordpress"></span></a>
            <a href="#"><span class="zocial-android"></span></a>
            <a href="#"><span class="zocial-html5"></span></a>
            <a href="#"><span class="zocial-windows"></span></a>
            <a href="#"><span class="zocial-apple"></span></a>
          </div>
          <div class="register">
            <a href="#loginModal" role="button" data-toggle="modal">ورود</a>
            یا
            <a href="#registerModal" role="button" data-toggle="modal"
              >ثبت نام</a
            >
          </div>
        </div>
      </div>
      <!-- /social icons -->
    </div>
  </div>
</header>
